
<%= form_tag  people_search_path, :method => 'post' do %>
  <p><b>Type the blood group here</b>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

  <% @people.each do |person| %>
  <div class="img" style="float: left" >
  <%= image_tag person.image %>
  </div>
  <div class="data">
    Name :<%= person.firstName %><%= person.lastName %><br/>
    Address :<%= person.address %></br>
    Dob :<%= person.dob %></br>
    Phone :<%= person.phone %></br>
    BloodGroup :<%= person.blood %></br>
    Last given :<%= person.last_given %></b>
    Weight :<%= person.weight %></br>
    Email :<%= person.email %></br>    
    <%= link_to 'Show', person %></br>
    <br/><br/>
    
     </div>
<% end %>
